
     <div class="main-content">
     <div class="container-fluid">
     <div class="ui-g ui-fluid">
    <div class="ui-g-4 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input name="term" [(ngModel)]="term" placeholder="Buscar Paciente por Nº">   
               
        </div>
    </div>   
 <br>
    </div>   
    </div>   
    <div class="container-fluid">
   
    
    <table class="table table-bordered">
            <thead >
        <tr>
            <th>Nº identificación</th>
            <th>Nombre</th>
           
            
        </tr>

    </thead>
        <tbody >

      <tr *ngFor="let patient of patients| filter : term; let i = index" (click)="setClickedRow(patient)" [class.active]="i == selectedRow" >
        
        <td>{{patient.idNumber}}</td>
        <td>{{patient.patientName}} {{patient.patientLastName}}</td>
      </tr>
    </tbody>

    </table>
     
<table class="table table-bordered">

    <!--Table head-->
    <thead >
        <tr>
            <th>Medicamento</th>
            <th>Ciclo</th>
            <th>Fecha de Aplicación</th>
            <th>Dosis Teorica</th>
            <th>Solución</th>
            <th>Volumen Final</th>
            <th>Dispositivo</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody >
        <tr *ngFor="let personalizedSchemaValue of personalizedSchemaValues">
            <td>{{ personalizedSchemaValue.medicineGenericName }}</td>
            <td>{{ personalizedSchemaValue.cycle }}</td>
            <td>{{ personalizedSchemaValue.applicationDate }}</td>
            <td>{{ personalizedSchemaValue.theoricalDose }}</td>
            <td>{{ personalizedSchemaValue.solutionId }}</td>
            <td>{{ personalizedSchemaValue.finalVolume }}</td>
            <td>{{ personalizedSchemaValue.deviceId }}</td>

        </tr>

    </tbody>
    <!--Table body-->
</table>

    </div>   
    </div>   








