
 <div class="main-content">

  <legend>Producción</legend>
          <div class="container-fluid">

<table class="table">
    <thead>
      <tr>
      <th data-field="name">Paciente</th>
      <th data-field="name">Medicamento</th>
      <th data-field="name">Volumen</th>
      <th data-field="name">Solucion</th>
      <th data-field="name">Volumen Final</th>
      <th data-field="name">Dispositivo</th>
      <th data-field="name">Cantidad Dispositivos</th>
      <th data-field="name">Concentración</th>
      <th data-field="name">Estabilidad </th>
      <th data-field="name">Fecha Vencimiento</th>
      <th data-field="name">Estado</th>
      <th data-field="name">Dosis Acumulada </th>
      <th data-field="name">Acumulación de Aplicaciones </th>
      <th data-field="name">Asignar Lotes</th>
      </tr>
    </thead>
    <tbody>

      <td>Carlos</td>
      <td>FLUORACILO</td>
      <td>100</td>
      <td>Dextrosa</td>
      <td>200</td>
      <td>Jeringa</td>
      <td>1</td>
      <td>50</td>
      <td>1</td>
      <td>01/02/2018</td>
      <td>A</td>
      <td>100</td>
      <td>2</td>
      <td><input type="checkbox" class="filled-in" id="checkbox101" [routerLink]="['/home/lote']" ></td>
    </tbody>
  </table>
</div>
</div>
