<div  class="main-content">
<div  class="container-fluid">


<table class="table table-responsive">

    <thead >
        
            <th>Medicamentos a Dispensar</th>


    </thead>
  <tbody>
      <tr *ngFor="let medicine of medicinetotals"  (click)="selectMedicine($event, medicine)" 
 [class.highlighted]="medicine.medicineName === medicineSelected">
      <td hidden>{{ medicine.medicineId }}</td>
      <td>{{ medicine.medicineName }}</td>
      <td>{{ medicine.total }}</td>

    </tr>
  </tbody>
</table>

  </div>
  </div>


