
 <div class="main-content">

  <legend>Preparaciones</legend>
          <div class="container-fluid">
<!--p-dataTable [value]="medicines">
    <p-column field="genericName" header="Medicamento"></p-column>
    <p-column field="cycle" header="Ciclo"></p-column>
    <p-column field="applicationDay" header="Volumen Final"></p-column>
    <p-column field="theoricalDose" header="Concentración"></p-column>
    <p-column field="solutionId" header="Estabilidad"></p-column>
    <p-column field="finalVolume" header="Dosis Acumuladas"></p-column>
    <p-column field="deviceId" header="Aplicaciones Acumuladas"></p-column>
    <p-column field="deviceId" header="Fecha Vencimiento"></p-column>
</p-dataTable-->


<table class="table">
    <thead>
      <tr>
      <th data-field="name">Medicamento</th>
      <th data-field="name">Volumen Medicamento</th>
      <th data-field="name">Solución</th>
  
      <th data-field="name">Volumen Final </th>


      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let preparation of preparations">
      <td>{{ preparation.medicineName }}</td>
      <td>{{ preparation.medicineConcentration }}</td>
      <td>{{ preparation.solutionDispensationId }}</td>

      <td>{{ preparation.volume }}</td>






    </tr>
    </tbody>
  </table>
</div>
</div>
