
 <div class="main-content">
  <legend>Preparaciones</legend>
          <div class="container-fluid">
<!--p-dataTable [value]="medicines">
    <p-column field="genericName" header="Medicamento"></p-column>
    <p-column field="cycle" header="Ciclo"></p-column>
    <p-column field="applicationDay" header="Volumen Final"></p-column>
    <p-column field="theoricalDose" header="Concentración"></p-column>
    <p-column field="solutionId" header="Estabilidad"></p-column>
    <p-column field="finalVolume" header="Dosis Acumuladas"></p-column>
    <p-column field="deviceId" header="Aplicaciones Acumuladas"></p-column>
    <p-column field="deviceId" header="Fecha Vencimiento"></p-column>
</p-dataTable-->


<table class="table">
    <thead>
      <tr>
      <th data-field="name">Medicamento</th>
      <th data-field="name">Volumen</th>
      <th data-field="name">Concentración</th>
  
      <th data-field="name">Estabilidad </th>
      <th data-field="name">Fecha Vencimiento</th>
      <th data-field="name">Estado</th>
      <th data-field="name">Dosis Acumulada </th>
      <th data-field="name">Acumulación de Aplicaciones </th>
      <th data-field="name">Asignar Lotes</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let preparation of preparations">
      <td>{{ preparation.medicineName }}</td>
      <td>{{ preparation.medicineConcentration }}</td>
      <td>{{ preparation.volume }}</td>

      <td>{{ preparation.stability }}</td>
      <td>{{ preparation.expirationDate }}</td>
      <td>{{ preparation.state }}</td>
      <td>{{ preparation.acummulatedDoses}}</td>
      <td>{{ preparation.acummulatedApplications }}</td>
      <td><input type="checkbox" class="filled-in" id="checkbox101" (click)="selectr($event)"></td>



    </tr>
    </tbody>
  </table>
</div>
</div>
