<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Haurora</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/diagnose-patient">Diagnosticar Paciente</a>
      <a mat-list-item href="/patientschedule">Esquema Personalizado</a>
      <a mat-list-item href="/medicinedispense">Dispensación Med</a>
      <a mat-list-item href="/solutiondispense">Dispensación Sol</a>
      <a mat-list-item href="/production">Produción</a>
      <a mat-list-item href="/t">Produción</a>
      <a mat-list-item href="/preparations">Preparaciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>