 <div class="main-content">
  <legend>Asignar Lotes FLUORACILOC Volumen:500mg</legend>
 	        <div class="container-fluid">
  <div class="row">
    <fieldset>
    
      <form [formGroup]="myForm" novalidate (ngSubmit)="asignar(myForm.value)">
     
     <div class="ui-g ui-fluid">

    <div class="col-md-3">
      <div class="form-group">
        <label for="patient">Medicamento</label>
        <select formControlName="medicineReferenceId" id="medicineReferenceId" class="form-control"
                name="medicineReferenceId"  >
          <option *ngFor="let medicine of medicines" [value]="medicine.medicineReferenceId">{{medicine.medicineGenericName}}</option>
        </select>
      </div>
    </div>
    <div  class="col-md-3">
      <div class="form-group">
        <label for="grupo">Lote / Cantidad</label>
        <select formControlName="lote" id="lote" class="form-control"
                name="lote"  >
          <option *ngFor="let lote of lotes" [value]="lote.lote">{{lote.lote}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
     <button type="submit" class="btn btn-primary">Asignar</button>
    </div>
    </div>



    </form>
    </fieldset>

  </div>

  </div>
  </div>