          <div class="main-content">
     <div class="container-fluid"> 
    <div class="container mt-3">
      <h2>Control de Cantidades Solución</h2>

      <!--nested-form></nested-form-->
  <div>
    Las cantidades ingresadas para DEXTROSA deben sumar no menos que 3000.
  </div>
<div class="form-group row">
  <div class="row" *ngFor="let solution of solutionBrandDispense">
  <div class="col-sm-2">
    <label >Solución</label>
    <input type="text" class="form-control" value='{{ solution.solutionGenericName}}'>  
  </div>

  <div class="col-sm-2">
    <label >Lote</label>
    <input type="text" class="form-control"  value='{{ solution.lote}}'>
  </div>
  <div class="col-sm-2">
    <label >Cantidad</label>
    <input type="text" class="form-control"  value='{{ solution.quantity}}'>
  </div>

  <div class="col-sm-3 py-1">
    <button type="button" class="btn">-</button>
  </div>
  </div>
</div>

  <div class="row">
    <button type="button" class="btn">Mx +</button>
    <button type="button" class="btn">Guardar</button>

  </div>

    </div>
    </div>
    </div>




